@import '../../../styles/mixins/icons';

.e-image-editor {
  .preview-images-box {
    display: flex; height: 80px; margin-bottom: 13px;
    &.hidden { display: none; }
  }
  .preview {
    width: 115px; height: 80px; position: relative; overflow: hidden; margin-right: 9px;
    &,
    .action {
      display: flex; justify-content: center; align-items: center;
    }
    &:hover .action { visibility: visible; }
    .action,
    .disabled { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
    .action {
      background: rgba(31, 37, 50, .7); visibility: hidden; cursor: pointer;
      &:after { width: 36px; height: 36px; border-radius: 100px; content: ''; }
      &.remove:after { @include trash-o-icon(#fff); }
      &.add:after { @include check-icon(#fff); }
      &.remove:after,
      &.add:after { background-size: 16px; background-color: #1f2532; }
    }
    .disabled { background: rgba(31, 37, 50, .5); }
  }
}
