@import '../../../styles/mixins/index';
@import '../../../styles/mixins/icons';

.e-table {
  &-header-cell,
  &-cell {
    &.is-trait-filters-displaying { @include cell-width(140px); }
    &.is-product-properties { @include cell-width(200px); }
  }
  &-cell.is-trait-filters-displaying {
    &.is-edit { padding-left: 2px; padding-right: 2px; }
    .e-select {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &-cell.is-product-properties {
    position: relative;
    .cell-popup {
      position: absolute; top: -1px; left: 0; padding: 30px 20px; background: #fff; z-index: 10; border: 1px solid #d3d3d3; box-shadow: 0 2px 7px rgba(0,0,0,0.2); min-height: 82px; box-sizing: border-box;
      .controll-tools { position: absolute; top: 100%; right: 0px; width: 63px; border: 1px solid #999; background: #eee; padding: 5px; display: flex; box-sizing: border-box; }
      .check,
      .cancel {
        width: 24px; height: 24px; line-height: 24px; text-align: center; background-color: #eee; border: 1px solid #ccc; color: #999; position: relative;
        &:hover { cursor: pointer; }
        &:after { content: ''; width: 20px; height: 20px; position: absolute; top: 2px; left: 3px; }
      }
      .cancel {
        margin-left: -1px;
        &:after { @include times(#999); }
      }
      .check {
        &:after { @include check(#999); }
      }
    }
  }
  .fields-wrapper {
    width: 300px; display: flex; flex-flow: wrap; align-content: center; font-size: 13px; color: #333; align-items: center;
    .item-input { width: 100%; padding: 0 10px; box-sizing: border-box; line-height: 24px; color: #333; margin-top: 16px; }
    .fiels-item {
      width: 81px; margin-bottom: 20px;
      &:last-child { margin-bottom: 0; width: 100%; }
    }
    .separator { height: 19px; margin: 11px 10px 0; }
  }
  .pseudo-link { color: #61656f; font-style: italic; }
}

.e-select-drop-down.select-cell {
  .rc-select-dropdown-menu-item { text-align: left; padding: 0 9px; }
}
